@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
  <Slide id="calculator">
    <img src="imgs/icon-no-bg.png" alt="Calculadora IMC">
    <Calculator/>
  </Slide>
  <Slide id="history">
    <History/>
  </Slide>
  <Slide id="about">
    <h1> Sobre </h1>
  </Slide>
</div>
